<!--The content below is only a placeholder and can be replaced.-->
<div class="form-container">

    <div class="search-box">

        <div class="form_title_wrapper">
            <h1 class="form_title">Stock Market Search</h1>
        </div>

        <div class="form_search_wrapper">
            <form (ngSubmit)="onSubmit(stockSymbol.value.toUpperCase())">
                <mat-form-field>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Enter Stock Ticker Symbol:<span style="color: red">*</span></label>
                        </div>
                        <div class="col-sm-6">
                            <input name="input_symbol" #stockSymbol 
                                [matAutocomplete]="auto" required [formControl]="symbol"
                                style="width: 100%" placeholder="e.g. AAPL" >
                            <mat-autocomplete (optionSelected)="onSubmit(stockSymbol.value.toUpperCase())"
                                #auto="matAutocomplete">
                                <mat-option *ngFor="let symbol of searchResult" [value]="symbol.Symbol">
                                {{ symbol.Symbol }} - {{symbol.Name}} ({{symbol.Exchange}})
                                </mat-option>
                            </mat-autocomplete>
                            <div *ngIf="errMessage">{{ errMessage }}</div>
                        </div>
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-primary" >
                                <span class="glyphicon glyphicon-search"></span> Get Quote
                            </button>
                            <button (click)="stockSymbol.value = '';"
                                type="button" class="btn btn-secondary" >
                                <span class="glyphicon glyphicon-refresh"></span> Clear
                            </button>
                        </div>
                    </div>
                </mat-form-field>
            </form>
        </div>
    </div>


    <div class="result_tabs">

        <div style="border: solid 1px #E3E3E3; margin-top: 15px; margin-left: 15px; margin-right:15px">

            <!-- Favorite List Div -->
            <div *ngIf="inFavoriteList" [@toStockChart]="state">
                <div class="swich_bar">
                    <div style="width: 20%; height: 100%; font-size: 17px; padding-top: 5px; padding-left: 15px; font-weight: bold; display: block; float: left">
                        Favorite List
                    </div>
                    <div style="width: 30%; height: 100%; display: block; float: left"></div>
                    <div style="position: relative; width: 50%; height: 100%; display: block; float: left; text-align: right">
                        <ul style="position:absolute; right: 15px; bottom:-18px; list-style:none; display:inline; overflow:hidden;">  
                            <li style="float:left; height: 40px;">Automatic Refresh: </li>
                            <li style="float:left; margin-left: 5px;">
                                <input id="refreshSwitch" type="checkbox" data-toggle="toggle">    
                            </li>
                            <li style="float:left; margin-left: 5px">
                                <button style="height: 37px; width: 40px">
                                    <span class="glyphicon glyphicon-refresh"></span>
                                </button>
                            </li>  
                            <li style="float:left; margin-left: 5px">
                                <button style="height: 37px; width: 40px" (click)="switchDivAnimate()">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </button>
                            </li>
                        </ul>  
                    </div>
                </div>  

                <div style="height: 400px; background-color: white">
                    <div style="height: 40px; margin-top: 15px">
                        <div style="float:left; font-weight: bold; margin: 0px 20px">
                            Sort by
                            <select (change)="onSortingKeyChange($event.target.value)" class="selectpicker">
                                <option value="dafault">Default</option>
                                <option value="symbol">Symbol</option>
                                <option value="price">Price</option>
                                <option value="change">Change</option>
                                <option value="changePercent">Change Percent</option>
                                <option value="volume">Volume</option>
                            </select>                            
                        </div>
                        <div style="float:left; font-weight: bold; margin: 0px 20px">
                            Order 
                            <select (change)="onSortingRuleChange($event.target.value)" class="selectpicker">
                                <option value="ascending">Ascending</option>
                                <option value="descending">Descending</option>
                            </select>   
                        </div>
                    </div>

                    <div style="clear:both"></div>

                    <table class = "table-stock" style="margin: 15px 0px;">
                        <tr>
                            <th style="padding-left: 10px">Symbol</th>
                            <th>Stock Price</th>
                            <th>Change (Change Percent)</th>
                            <th>Volume</th>
                            <th></th>
                        </tr>
                        <tr *ngFor="let favStock of favoriteList | orderBy : orderKey: orderRule">
                            <td>{{favStock.symbol}}</td>
                            <td>{{favStock.price}}</td>
                            <td>{{favStock.change}} ({{favStock.changePercent}}%)</td>
                            <td>{{ticks}}</td>
                            <td><span class="glyphicon glyphicon-trash"></span></td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- Chart Div -->
            <div *ngIf="!inFavoriteList" [@toFavoriteList]="state">

                <div class="swich_bar">
                    <div style="width: 15%; height: 100%; display: block; float: left; position: relative">
                        <button style="height: 37px; width: 40px; margin-left: 15px; position:absolute; bottom:2px;" 
                        (click)="switchDivAnimate()">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </button>
                    </div>
                    <div style="width: 70%; height: 100%; text-align: center; font-size: 17px; padding-top: 10px; font-weight: bold; display: block; float: left">
                            Stock Details
                    </div>
                    <div style="width: 15%; height: 100%; display: block; float: left"></div>
                </div>

                <div class="top-nav_bar">
                    <ul class="nav nav-pills">
                    <li class="active"><a data-toggle="tab" href="#home"><span class="glyphicon glyphicon-dashboard"></span> Current Stock</a></li>
                    <li><a data-toggle="tab" href="#menu_history"><span class="glyphicon glyphicon-stats"></span> Historical Charts</a></li>
                    <li><a data-toggle="tab" href="#menu_news"><span class="glyphicon glyphicon-link"></span> News Feeds</a></li>
                    </ul>
                </div>

                
                <div class="tab-content" style="padding: 0px 20px;">
                    <hr style="margin-top:0px; margin-bottom:0px"/>

                    <div id="home" class="tab-pane fade in active">
                        <div class="row" style="margin-top: 20px">
                            <div class="col-md-6">
                                <div id="stockTableProcessing" *ngIf="!loadingMap['Table']" 
                                    style="height: 25px; margin-top: 120px" class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%"></div>
                                </div>

                                <div id="stockTable" *ngIf="loadingMap['Table']">
                                    <div style="height: 35px">
                                        <div style="float:left; font-weight: bold; padding: 10px">Stock Details</div>
                                        <div style="float:right; text-align: right">
                                            <div class="icon_wrap" (click)="shareOnFacebook()">
                                                <img src="http://cs-server.usc.edu:45678/hw/hw8/images/facebook.png" 
                                                    style="width: 25px; height: 25px; margin-top:4px"/>
                                            </div>
                                            <div class="icon_wrap" (click)="addToFavorite()">
                                                <span id="btn_fav" class="glyphicon glyphicon-star-empty"
                                                    style="color: #FDD445; font-size: 20px; margin-left:5px; margin-top:5px"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="width: 100%; clear:both; margin-top: 15px;">
                                        <table class = "table-stock">
                                            <tr>
                                                <td class = "firstCol">Stock Ticker Symbol</td>
                                                <td class = "secondCol">{{symbolName}}</td>
                                            </tr>
                                            <tr>
                                                <td class = "firstCol">Last Price</td>
                                                <td class = "secondCol">{{lastPrice}}</td>
                                            </tr>
                                            
                                            <tr *ngIf="changeNum>0; else changeLessThanZero">
                                                <td class = "firstCol">Change (Change Percent)</td>
                                                <td class = "secondCol green">{{changeNum}} ({{changePercent}})
                                                    <img style="width:16px" 
                                                        src = 'http://cs-server.usc.edu:45678/hw/hw8/images/Up.png'/>
                                                </td>
                                            </tr>
                                            <ng-template #changeLessThanZero>
                                                <tr>
                                                    <td class = "firstCol">Change (Change Percent)</td>
                                                    <td class = "secondCol red">{{changeNum}} ({{changePercent}})
                                                        <img style="width:16px" 
                                                            src = 'http://cs-server.usc.edu:45678/hw/hw8/images/Down.png'/>
                                                    </td>
                                                </tr>
                                            </ng-template>

                                            <tr>
                                                <td class = "firstCol">Timestamp</td>
                                                <td class = "secondCol">{{timestamp}}</td>
                                            </tr>
                                            <tr>
                                                <td class = "firstCol">Open</td>
                                                <td class = "secondCol">{{curOpen}}</td>
                                            </tr> 
                                            <tr>
                                                <td class = "firstCol">Close</td>
                                                <td class = "secondCol">{{curClose}}</td>
                                            </tr>
                                            <tr>
                                                <td class = "firstCol">Day's Range</td>
                                                <td class = "secondCol">{{curRange}}</td>
                                            </tr>
                                            <tr>
                                                <td class = "firstCol">Volume</td>
                                                <td class = "secondCol">{{curVolume}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <ul class="nav nav-tabs">
                                        <li (click)="updateChartId('Price')" class="active"><a data-toggle="tab" href="#chart_price">Price</a></li>
                                        <li (click)="updateChartId('SMA')"><a data-toggle="tab" href="#indicator_SMA">SMA</a></li>
                                        <li (click)="updateChartId('EMA')"><a data-toggle="tab" href="#indicator_EMA">EMA</a></li>
                                        <li (click)="updateChartId('STOCH')"><a data-toggle="tab" href="#indicator_STOCH">STOCH</a></li>
                                        <li (click)="updateChartId('RSI')"><a data-toggle="tab" href="#indicator_RSI">RSI</a></li>
                                        <li (click)="updateChartId('ADX')"><a data-toggle="tab" href="#indicator_ADX">ADX</a></li>
                                        <li (click)="updateChartId('CCI')"><a data-toggle="tab" href="#indicator_CCI">CCI</a></li>
                                        <li (click)="updateChartId('BBANDS')"><a data-toggle="tab" href="#indicator_BBANDS">BBANDS</a></li>
                                        <li (click)="updateChartId('MACD')"><a data-toggle="tab" href="#indicator_MACD">MACD</a></li>
                                    </ul>
                                </div>

                                <div class="tab-content">
                                    <div id="chart_price" class="tab-pane fade in active">
                                        <div id="priceChartProcessing" *ngIf="!loadingMap['Price']" 
                                            style="height: 25px; margin-top: 33px" class="progress">
                                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%"></div>
                                        </div>
                                        <div id="stockPriceChart" *ngIf="loadingMap['Price']">
                                            <div class="detail_wrapper">
                                                <chart [options]="priceChartOptions"></chart>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="indicator_SMA" class="tab-pane fade">
                                        <div *ngIf="!loadingMap['SMA']" style="height: 25px; margin-top: 33px" class="progress">
                                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%"></div>
                                        </div>
                                        <div *ngIf="loadingMap['SMA']">
                                            <div class="detail_wrapper">
                                                <chart [options]="SMAChartOptions"></chart>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="indicator_EMA" class="tab-pane fade">
                                        <div *ngIf="!loadingMap['EMA']" style="height: 25px; margin-top: 33px" class="progress">
                                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%"></div>
                                        </div>
                                        <div *ngIf="loadingMap['EMA']">
                                            <div class="detail_wrapper">
                                                <chart [options]="EMAChartOptions"></chart>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="indicator_STOCH" class="tab-pane fade">
                                        <div *ngIf="!loadingMap['STOCH']" style="height: 25px; margin-top: 33px" class="progress">
                                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%"></div>
                                        </div>
                                        <div *ngIf="loadingMap['STOCH']">
                                            <div class="detail_wrapper">
                                                <chart [options]="STOCHChartOptions"></chart>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="indicator_RSI" class="tab-pane fade">
                                        <div *ngIf="!loadingMap['RSI']" style="height: 25px; margin-top: 33px" class="progress">
                                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%"></div>
                                        </div>
                                        <div *ngIf="loadingMap['RSI']">
                                            <div class="detail_wrapper">
                                                <chart [options]="RSIChartOptions"></chart>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="indicator_ADX" class="tab-pane fade">
                                        <div *ngIf="!loadingMap['ADX']" style="height: 25px; margin-top: 33px" class="progress">
                                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%"></div>
                                        </div>
                                        <div *ngIf="loadingMap['ADX']">
                                            <div class="detail_wrapper">
                                                <chart [options]="ADXChartOptions"></chart>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="indicator_CCI" class="tab-pane fade">
                                        <div *ngIf="!loadingMap['CCI']" style="height: 25px; margin-top: 33px" class="progress">
                                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%"></div>
                                        </div>
                                        <div *ngIf="loadingMap['CCI']">
                                            <div class="detail_wrapper">
                                                <chart [options]="CCIChartOptions"></chart>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="indicator_BBANDS" class="tab-pane fade">
                                        <div *ngIf="!loadingMap['BBANDS']" style="height: 25px; margin-top: 33px" class="progress">
                                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%"></div>
                                        </div>
                                        <div *ngIf="loadingMap['BBANDS']">
                                            <div class="detail_wrapper">
                                                <chart [options]="BBANDSChartOptions"></chart>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="indicator_MACD" class="tab-pane fade">
                                        <div *ngIf="!loadingMap['MACD']" style="height: 25px; margin-top: 33px" class="progress">
                                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%"></div>
                                        </div>
                                        <div *ngIf="loadingMap['MACD']">
                                            <div class="detail_wrapper">
                                                <chart [options]="MACDChartOptions"></chart>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                

                    <div id="menu_history" class="tab-pane fade">
                        <div *ngIf="!loadingMap['HighStock']" style="height: 25px; margin-top: 33px" class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%"></div>
                        </div>
                        <div *ngIf="loadingMap['HighStock']">
                            <div style="margin-top:20px">
                                <chart type="StockChart" [options]="stockChartOptions"></chart>
                            </div>
                        </div>
                    </div>


                    <div id="menu_news" class="tab-pane fade">
                        <div *ngIf="!loadingMap['News']" style="height: 25px; margin-top: 33px" class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%"></div>
                        </div>
                        <div *ngIf="loadingMap['News']">
                            <div *ngFor="let news of newsArray" style="margin-top:20px; height: 160px; width: 100%; background-color: #EFEFEF;
                                padding: 20px 20px">
                                <table>
                                    <tr style="color:#377BB5; font-size: 20px; height: 50px">
                                        <a target="_blank" href="{{news.link}}">{{news.title}}</a>
                                    </tr>
                                    <tr style="font-weight: bold; height: 35px">Author: {{news['sa:author_name']}}</tr>
                                    <tr style="font-weight: bold; height: 35px">Date: {{news.pubDate}}</tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>


